*/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
examples/*.a
examples/*.o
examples/.deps/
examples/.libs/
examples/count_freq
examples/hellohash
install-sh
libcuckoo/*.a
libcuckoo/*.la
libcuckoo/*.lo
libcuckoo/*.o
libcuckoo/.deps/
libcuckoo/.libs/
libtool
ltmain.sh
m4/.*
m4/libtool.m4
m4/lt*.m4
missing
perf*
stamp-h1
test-driver
tests/*.a
tests/*.log
tests/*.out
tests/*.trs
tests/.deps/
tests/.libs/
