*.a
*.la
*.lo
*.log
*.o
*.out
*.trs
*~
.DS_Store
.deps
.libs
Makefile
autom4te.cache
cityhash_unittest
compile
config.h
config.log
config.status
examples/count_freq
examples/hellohash
examples/nested_table
libtool
libtool.m4
lt*.m4
stamp-h1
test-driver